<a href="https://colab.research.google.com/github/techthumb1/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/J_Robinson_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
#Use the bang function to call the bash command and load a tarball file
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-11-06 03:52:05--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.161.237
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.161.237|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  26.4MB/s    in 7.8s

2019-11-06 03:52:14 (25.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
#Un-tar the instacart file 
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
#Use the magic command to a new working directory
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

In [0]:
#List the contents of the directory and make it readable
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
#Import the needed libraries that we'll be using
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.sample(5)

(32434489, 4)

          order_id  product_id  add_to_cart_order  reordered
23031175   2429019       47977                  6          1
31943982   3369322        9076                  5          1
17537653   1849789         264                  2          1
20255888   2136519       46088                  3          0
4850543     511977       46958                 10          0

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.sample(5)

(1384617, 4)

         order_id  product_id  add_to_cart_order  reordered
25104       60676       43961                  8          0
995153    2457836        5380                 18          1
877419    2163832       48609                  9          1
1377373   3404839       41098                  2          1
479157    1173986       22935                 15          0

In [0]:
aisles = pd.read_csv('aisles.csv')
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [0]:
departments = pd.read_csv('departments.csv')
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [0]:
#Next we need to filter the columns and get a subset of the orders dataframe
cols = ['aisle_id', 'aisle', 'department_id', 'department',]
departments = [cols]

In [0]:
#Next we filter specific rows 
condition = (departments['aisle_id'])
condition

TypeError: ignored

In [0]:
#create another condition
condition = (orders['user_id']==1) & (orders['order_number']<=2)

In [0]:
#After filtering the orders dataset, we can create a new dataset
orders_subset = orders[condition]

In [0]:
#In order to concatenate the dataframes they must have the same shape
print(order_products__prior.shape)
print(order_products__train.shape)

(32434489, 4)
(1384617, 4)

In [0]:
#Now I can concatenate the split prior and train data
order_products = pd.concat([order_products__prior, order_products__train])
order_products.shape

(33819106, 4)

In [0]:
#A very large dataset so I will trim the rows and columns
condition = (order_products['order_id']==2539329) | (order_products['order_id']==2398795)

In [0]:
#Pick the columns I want to keep
columns = ['order_id', 'add_to_cart_order', 'product_id']

In [0]:
#Filter rows and columns using .loc in one line a more efficient method
order_products_subset = order_products.loc[condition, columns]
order_products_subset

          order_id  add_to_cart_order  product_id
22742744   2398795                  1         196
22742745   2398795                  2       10258
22742746   2398795                  3       12427
22742747   2398795                  4       13176
22742748   2398795                  5       26088
22742749   2398795                  6       13032
24076664   2539329                  1         196
24076665   2539329                  2       14084
24076666   2539329                  3       12427
24076667   2539329                  4       26088
24076668   2539329                  5       26405

In [0]:
#Now that the datasets have been minimized, I can merge the two dataframes
#much more efficiently
print(order_products_subset.shape)
orders_subset.shape

(11, 3)

(2, 5)

In [0]:
print(order_products_subset.columns)
print(orders_subset.columns)

Index(['order_id', 'add_to_cart_order', 'product_id'], dtype='object')
Index(['user_id', 'order_id', 'order_number', 'order_dow',
       'order_hour_of_day'],
      dtype='object')

In [0]:
#Merge the two dataframes based on a common key
merged = pd.merge(orders_subset, order_products_subset, on='order_id', how='inner')
merged

    user_id  order_id  ...  add_to_cart_order  product_id
0         1   2539329  ...                  1         196
1         1   2539329  ...                  2       14084
2         1   2539329  ...                  3       12427
3         1   2539329  ...                  4       26088
4         1   2539329  ...                  5       26405
5         1   2398795  ...                  1         196
6         1   2398795  ...                  2       10258
7         1   2398795  ...                  3       12427
8         1   2398795  ...                  4       13176
9         1   2398795  ...                  5       26088
10        1   2398795  ...                  6       13032

[11 rows x 7 columns]

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']], how='inner', on='product_id')
final

    user_id  order_id  ...  product_id                             product_name
0         1   2539329  ...         196                                     Soda
1         1   2398795  ...         196                                     Soda
2         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3         1   2539329  ...       12427                      Original Beef Jerky
4         1   2398795  ...       12427                      Original Beef Jerky
5         1   2539329  ...       26088               Aged White Cheddar Popcorn
6         1   2398795  ...       26088               Aged White Cheddar Popcorn
7         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
8         1   2398795  ...       10258                               Pistachios
9         1   2398795  ...       13176                   Bag of Organic Bananas
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')
flights

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [0]:
df1 = pd.DataFrame([ ['a', 1], ['b', 2] ], columns=['letter', 'number'])
df1.head()

  letter  number
0      a       1
1      b       2

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####